

.footer-copyright {  
  position: absolute;
  
  bottom: 0;
}

.card-image{
  height:50%;
}

.card-content-image img{
  width:100%;
}

.card.small.extra-small{
  height:138px;
}

.carousel{
  margin-top: 10px;
  height: 200px!important;
}

.side-nav{
  margin-top: 10px;
}

.dropdown-content{
  width: max-content !important;
  height:auto !important;
}