

.footer-copyright {  
  position: absolute;
  
  bottom: 0;
}

.card-image{
  height:50%;
}

.card .extra-large{
  height:700px;
}

.card-content-image {
  overflow: hidden;
}
.card-content-image img{
  width:100%;
}

.carousel{
  margin-top: 10px;
  height: 200px!important;
}

.side-nav{
  margin-top: 10px;
}